# Prerequisites
*.d

# Precompiled headers
*.gch
*.pch

# Object files
*.slo
*.lo
*.o
*.obj

# Linker output files
*.exp
*.ilk
*.map

# Compiled dynamic libraries
*.dll
*.dylib
*.so
*.so.*

# Compiled static libraries
*.a
*.la
*.lai
*.lib

# Compiled executables
*.app/
*.exe

# Debug files
*.dSYM/
*.idb
*.pdb
*.su

# Libpng configuration and build artifacts
*.out
.deps/
.dirstamp
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config*~
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install*~
/install-sh
/libpng*-config
/libpng*.pc
/libpng.vers
/libtool
/ltmain.sh
/missing
/scripts/autoconf/libtool.m4
/scripts/autoconf/lt*.m4
/stamp-h1
/test-driver
pnglibconf.[ch]
pnglibconf.dfn
pnglibconf.pre
pngprefix.h

# Libpng test artifacts
png-fix-itxt
pngcp
pngfix
pngimage
pngstest
pngtest
pngunknown
pngvalid
timepng
pngout.png

# Libpng CI artifacts
out/
