# Prerequisites
*.d

# Precompiled headers
*.gch
*.pch

# Object files
*.slo
*.lo
*.o
*.obj

# Linker output files
*.exp
*.ilk
*.map

# Compiled dynamic libraries
*.dll
*.dylib
*.so
*.so.*

# Compiled static libraries
*.a
*.la
*.lai
*.lib

# Compiled executables
*.app/
*.exe

# Compiled dependencies
.deps/

# Debug files
*.dSYM/
*.idb
*.pdb
*.su

# Libpng configuration and build artifacts
*.out
.dirstamp
/libpng*-config
/libpng*.pc
/libpng.vers
/libtool
pnglibconf.[ch]
pnglibconf.dfn
pnglibconf.pre
pngprefix.h

# Libpng test artifacts
png-fix-itxt
pngcp
pngfix
pngimage
pngstest
pngtest
pngunknown
pngvalid
timepng
pngout.png

# Libpng CI artifacts
out/

# configure artefacts
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
scripts/autoconf/libtool.m4
scripts/autoconf/ltoptions.m4
scripts/autoconf/ltsugar.m4
scripts/autoconf/ltversion.m4
scripts/autoconf/lt~obsolete.m4
test-driver

# stuff added by typing "configure":
Makefile
config.h
config.log
config.status
stamp-h1


# VIMefacts
.*.un~
.*.swp
